<div class="fabs">
    <div class="fab primary" onclick="startNavigation()">
        <span class="material-icons-outlined">navigation</span>
        <div class="fab-tooltip">Start Navigation</div>
    </div>
    <div class="fab" onclick="toggleMute()">
        <span class="material-icons-outlined">volume_up</span>
        <div class="fab-tooltip">Toggle Voice</div>
    </div>
    <div class="fab" onclick="simulateDrive()">
        <span class="material-icons-outlined">play_arrow</span>
        <div class="fab-tooltip">Simulate Drive</div>
    </div>
    <div class="fab" onclick="showSettings()">
        <span class="material-icons-outlined">settings</span>
        <div class="fab-tooltip">Settings</div>
    </div>
    <div class="fab" onclick="reportTraffic()">
        <span class="material-icons-outlined">report</span>
        <div class="fab-tooltip">Report Traffic</div>
    </div>
</div>
