<div class="modern-search-container">
    <div class="search-inputs-wrapper">
        <div class="search-input-group">
            <div class="input-container">
                <input 
                    type="text" 
                    id="start-input" 
                    class="search-input-field"
                    placeholder="Start location" 
                    autocomplete="off"
                    oninput="handleStartInput(this.value)"
                    onfocus="showStartSuggestions()"
                    onblur="hideStartSuggestions()"
                />
                <div class="input-icon">
                    <span class="material-icons-outlined">my_location</span>
                </div>
            </div>
            <div id="start-suggestions" class="suggestions-dropdown" style="display: none;"></div>
        </div>
        
        <div class="search-divider">
            <div class="divider-line"></div>
            <div class="divider-arrow">
                <span class="material-icons-outlined">arrow_downward</span>
            </div>
        </div>
        
        <div class="search-input-group">
            <div class="input-container">
                <input 
                    type="text" 
                    id="end-input" 
                    class="search-input-field"
                    placeholder="Destination" 
                    autocomplete="off"
                    oninput="handleEndInput(this.value)"
                    onfocus="showEndSuggestions()"
                    onblur="hideEndSuggestions()"
                />
                <div class="input-icon">
                    <span class="material-icons-outlined">place</span>
                </div>
            </div>
            <div id="end-suggestions" class="suggestions-dropdown" style="display: none;"></div>
        </div>
        
        <button class="search-button" onclick="calculateRoute()">
            <span class="material-icons-outlined">navigation</span>
        </button>
    </div>
</div>
