<div class="floating-search-bar">
    <div class="search-inputs">
        <div class="search-input">
            <input type="text" placeholder="Start location" id="start-input" />
        </div>
        <div class="search-divider"></div>
        <div class="search-input">
            <input type="text" placeholder="Destination" id="end-input" />
        </div>
        <div class="search-actions">
            <button class="modern-button" onclick="calculateRoute()">
                <span class="material-icons-outlined">navigation</span>
            </button>
        </div>
    </div>
</div>
